<mat-toolbar class="scenario-list-header">
  <span class="scenario-list-title">Scenarios</span>
  <button mat-raised-button color="primary" (click)="createScenario()">Create Scenario</button>
</mat-toolbar>

<div class="scenario-list">
  <mat-card class="scenario-card" *ngFor="let scenario of scenarios">
    <div class="scenario-content">
      <div class="scenario-info">
        <div class="scenario-name">{{ scenario.name }}</div>
        <div class="scenario-date">{{ scenario.createdAt | date: 'short' }}</div>
      </div>

      <div class="scenario-actions">
        <button mat-icon-button color="primary" (click)="editScenario(scenario.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteScenario(scenario.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</div>
